* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $f-main !important;
  font-size: 16px;
  background: $c-orange;

  font-size: 0.8rem;

  @include HVGA {
    font-size: 1rem;
  }

  @include XGA {
    font-size: 1.1rem;
  }

  @include HD {
    font-size: 1.2rem;
  }
}

.f-dark {
  color: $c-dark-primary;
}

.f-white {
  color: white;
}

.f-orange {
  color: $c-orange;
}

.thin {
  font-weight: 400;
}

.regular {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2.6rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1484px; //1240px
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  transition: 0.3s all;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $c-dark-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($color: $c-dark-primary, $alpha: 0.9);
}
