$c-yellow: #ffca23;

$s-hard: 0px 20px 41px 0px rgba(0, 0, 0, 0.4);
$s-medium: 0px 10px 41px 0px rgba(0, 0, 0, 0.4);
$s-light: 0px 10px 41px 0px rgba(0, 0, 0, 0.2);

$c-orange: #f2aa4c;

$c-dark-primary: #101820;
